name: Build ToyotaScan APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build Android APK
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build with Buildozer Action
      uses: ArtemSBulgakov/buildozer-action@v1
      id: buildozer
      with:
        command: android debug
        buildozer_version: stable

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: ToyotaScan-debug
        path: ${{ steps.buildozer.outputs.filename }}
        if-no-files-found: error
